In [90]:
import pandas as pd
import sqlite3
from pathlib import Path

In [91]:
csv_file_path = '../csv-data/wineQualityReds.csv'

df = pd.read_csv(csv_file_path, index_col=0)
df['id'] = range(1, len(df) + 1)

df

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,id
1,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,1
2,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5,2
3,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5,3
4,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6,4
5,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1595,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5,1595
1596,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6,1596
1597,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6,1597
1598,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5,1598
1599,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6,1599

In [92]:
csv_file_path2 = '../csv-data/predictionModelList.csv'

df2 = pd.read_csv(csv_file_path2)

df2

,id,name,description
0,1,Linear Regression,Linear regression is a basic and commonly used...
1,2,Decision Tree Regressor,Decision tree builds regression or classificat...
2,3,Random Forest Regressor,Random Forest Regression is a supervised learn...
3,4,Gradient Boosting Regressor,Gradient boosting is one of the most popular m...
4,5,Deep Neural Multilayer Perceptron Regressor (MLP),Multi-layer perceptrons (MLP) is an artificial...
5,6,Support Vector Regression (SVR),Support Vector Regression (SVR) is a type of m...
6,7,K-Neighbors Regressor,KNN regression is a non-parametric method that...
7,8,Long Short-Term Memory (LSTM) Network,Long Short-Term Memory (LSTM) networks are a t...

In [93]:
csv_file_path3 = '../csv-data/nullDataSolutions.csv'

df3 = pd.read_csv(csv_file_path3)

df3

   id     name                      description
0   1   Delete                 Delete null rows
1   2    Often  Change it with most often value
2   3  Average     Change it with average value
3   4   Median      Change it with median value

In [94]:
sqlite_db_path = Path('../database/basic-forecast.db')
db_dir = sqlite_db_path.parent
db_dir.mkdir(parents=True, exist_ok=True)

In [95]:
conn = sqlite3.connect(sqlite_db_path)

In [96]:
df.to_sql('red_wine_quality', conn, if_exists='replace', index=False)
df2.to_sql('prediction_model', conn, if_exists='replace', index=False)
df3.to_sql('null_data_solutions', conn, if_exists='replace', index=False)

In [97]:
# CHECK DATA
query = "SELECT * FROM red_wine_quality"
df_wine = pd.read_sql_query(query, conn)

query = "SELECT * FROM prediction_model"
df_prediction = pd.read_sql_query(query, conn)

query = "SELECT * FROM null_data_solutions"
df_null_sol = pd.read_sql_query(query, conn)

conn.close()

In [98]:
df_wine

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,id
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,1
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5,2
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5,3
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6,4
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5,1595
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6,1596
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6,1597
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5,1598
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6,1599

In [99]:
df_prediction

,id,name,description
0,1,Linear Regression,Linear regression is a basic and commonly used...
1,2,Decision Tree Regressor,Decision tree builds regression or classificat...
2,3,Random Forest Regressor,Random Forest Regression is a supervised learn...
3,4,Gradient Boosting Regressor,Gradient boosting is one of the most popular m...
4,5,Deep Neural Multilayer Perceptron Regressor (MLP),Multi-layer perceptrons (MLP) is an artificial...
5,6,Support Vector Regression (SVR),Support Vector Regression (SVR) is a type of m...
6,7,K-Neighbors Regressor,KNN regression is a non-parametric method that...
7,8,Long Short-Term Memory (LSTM) Network,Long Short-Term Memory (LSTM) networks are a t...

In [100]:
df_null_sol

   id     name                      description
0   1   Delete                 Delete null rows
1   2    Often  Change it with most often value
2   3  Average     Change it with average value
3   4   Median      Change it with median value